<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidtrainingtosasanka">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".appclass.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".jsonparser.JSonActivity" />
        <activity android:name=".imageprocessing.ImageActivity" />
        <activity android:name=".listview.ListviewActivity" />
        <activity android:name=".staticfragments.StaticFragmentsActivity" />
        <activity android:name=".intent.ExplicitIntentActivity" />
        <activity android:name=".activitylifecycle.SecondActivity" />
        <activity android:name=".activitylifecycle.FirstActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".dynamicfragments.DynamicFragmntsActivity" />
        <activity android:name=".recyclerview.RecyclerViewExample" />
        <activity android:name=".database.DataActivity" />
        <activity android:name=".database.DisplayData" />
        <activity android:name=".sensors.ProximitySensorActivity" />
        <activity android:name=".sensors.AccelerometerSensorActivity" />
        <activity android:name=".imageprocessing.SimpleImageActivity2" />
        <activity android:name=".imageprocessing.ImageCaptureAndPickActivity" />
        <activity android:name=".notificationsFcm.NotificationActivity" />
        <activity android:name=".volleyserevercalls.VollleyExample2" />
        <activity android:name=".volleyserevercalls.VollleyExample1" />
        <activity android:name=".volleyserevercalls.VolleyServiceExample" />
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".notificationsFcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name=".notificationsFcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>